@model NeraChile.Web.Models.AddAtencionViewModel


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Atencion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Id">Número de Atención</label>
                <input type="text" class="form-control" name="Id" placeholder="Ingrese Número Atención" />
            </div>

            <div class="form-group">
                <label for="OdoInicial">Odometro Inicial</label>
                <input type="text" class="form-control" name="OdoInicial" placeholder="Ingrese Odometro" />
            </div>

            <div class="form-group">
                <label for="TipoServicio">Tipo Servicio</label>
                <select for="TipoServicio" class="form-control" name="TipoServicio" onChange={this.onChange} value={TipoServicio} placeholder="Tipo Servicio">
                    <option value="Seleccionar">Seleccionar</option>
                    <option value="Accidente">Accidente</option>
                    <option value="Incidente">Incidente</option>
                    <option value="Asistencia">Asistencia</option>
                </select>
            </div>

            <div class="form-group">
                <label for="TipoVehiculo">Tipo Vehículo</label>
                <select for="TipoVehiculo" class="form-control" name="TipoVehiculo" onChange={this.onChange} value={TipoVehiculo} placeholder="Tipo Vehículo">
                    <option value="Seleccionar">Seleccionar</option>
                    <option value="Grúa Liviana">Grúa Liviana</option>
                    <option value="Grúa Pesada">Grúa Pesada</option>
                    <option value="Patrulla">Patrulla</option>
                    <option value="Ambulancia">Ambulancia</option>
                    <option value="Vehículos de Rescate">Vehículos de Rescate</option>
                    <option value="Motocicleta">Motocicleta</option>
                    <option value="VehículoSupervisor">Vehículo Supervisor</option>
                </select>
            </div>

            <div class="form-group">
                <label for="HrLlegada">Hora de LLegada a la Atención</label>
                <input type="time" class="form-control" name="HrLLegada" value={HrLLegada} onChange={this.onChange} placeholder="Ingrese hora de llegada" />
            </div>

            <div class="form-group">
                <label for="OdoInter">Ingrese Odometro de Llegada a Servicio</label>
                <input type="text" class="form-control" name="OdoInter" placeholder="Ingrese Odometro" />
            </div>

            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <textArea class="form-control" name="Descripcion" placeholder="Descripcion" cols="80" rows="3">Descripcion</textArea>
            </div>

            <div class="form-group">
                <label for="HrTermino">Hora de Término</label>
                <input type="time" class="form-control" name="HrTermino"  placeholder="Ingrese Hora de Término" />
            </div>
            <div class="form-group">
                <label for="OdoFinal">Odometro Final</label>
                <input type="text" class="form-control" name="OdoFinal" placeholder="Ingrese Odometro al llegar a Base" />
            </div>

            <div class="form-group">
                <label for="EstServicio">Estado del Servicio</label>
                <select for="EstServicio" class="form-control" name="EstServicio" onChange={this.onChange} value={EstServicio} placeholder="Estado del Servicio">
                    <option value="Seleccionar">Seleccionar</option>
                    <option value="Finalizado">Finalizado</option>
                    <option value="Pendiente">Pendiente</option>
                </select>
            </div>
            
            <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

